<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><p><img src="{{ url_for('static', filename='images/aecc-logo.jpg') }}" height="25" width="25"> AECC Website</p></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('members') }}">Members</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
              <li><a href="/dashboard">
                {% if session.customPicture == "FALSE" %}
                <img src="{{ session.email | gravatar }}" height="25" width="25">
                {% else %}
                <img src="{{ url_for('static', filename='uploads/'+session.customPicture) }}" height="25" width="25">
                {% endif %}
                </a></li>
              {% if session.admin %}
              <li><a href="{{ url_for('adminPanel') }}">Admin Panel</a></li>
              {% else %}
              <li><a href="{{ url_for('user_profile', id=session.id) }}">Profile</a></li>
              {% endif %}
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
              <li><a href="{{ url_for('register') }}">Register</a></li>
              <li><button type="button" class="btn btn-default" data-toggle="modal" style="margin-top:9px;" data-target="#myModal">Login</button></li>
              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                      <form action="/login" method="POST">
                        <div class="form-group">
                          <label>Email or Student Number</label>
                          <input type="text" name="username" class="form-control" value={{request.form.username}}>
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" name="password" class="form-control" value={{request.form.password}}>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <a href="{{ url_for('forgot_password') }}">Forgot password?</a>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
