{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  {% for member in directiva %}
  	<div style="text-align:center">
  	{% if member['customPicture'] == "FALSE" %}
  		<img src="{{ url_for('static', filename='uploads/icon-default.jpg') }}" height="200" width="200">
	{% else %}
		<img src="{{ url_for('static', filename='uploads/'+member['customPicture']) }}" height="200" width="200">
	{% endif %}
	<p><strong>{{ member['studentFirstName'] + " " + member['studentLastName'] }}</strong></p>
	{% if member['studentID'] == "vicepresidente" %}
	<p>Vice Presidente</p>
	{% else %}
	<p>{{member['studentID'].capitalize()}}</p>
	</div>
	{% endif %}
  {% endfor %}
{% endblock %}
