{% extends 'layout.html' %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
			<div class="jumbotron text-center">
				<h1>Bienvenido a la AECC!</h1><br>
				<p class="lead"> Por favor oprima el enlace de abajo para activatar su cuenta:</p>
				<a href="{{ confirm_url }}" class="btn btn-success btn-lg">{{ confirm_url }}</a><br>
				<img src="https://scontent-mia3-2.xx.fbcdn.net/t1.0-9/227041_211214515567611_1944265_n.jpg?oh=c02a5f1b4dbe360fe82e3a33e6064bcc&oe=5B1088A4" alt="AECC Logo" height="250" width="250"/>
				<h6> - La Directiva</h6>
			</div>
		</div>
	</div>
</div>