{% extends 'layout.html' %}
<!-- Edited by Anthony Rios -->
{% block body %}
  <h1>Admin Panel</h1>
  <h3>Welcome, {{ session['username']}}.</h3>
  
  <div class="container-fluid">
    <ul class="nav nav-pills" style="padding-bottom: 5%">
      <li class="list-group-item-success"><a href="{{url_for('edit_profile', id=session.id)}}">Edit Profile</a></li>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <div class="modal fade" id="confirm-reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Membership Reset</h4>
                </div>
                <div class="modal-body">
                    <b><i class="title"></i><p>You are about to reset the memberships of all current members of the AECC.</b> This procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="reset-members" class="btn btn-danger">Confirm Reset</button>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" data-record-id="54" data-record-title="Membership Reset" data-toggle="modal" data-target="#confirm-reset">Reset ALL Memberships
    </button>
    <script>
        $('#reset-members').click(function() {
            window.location.href = "{{url_for('resetMemberships')}}"
        });
    </script>
      <li class="active"><a href="{{url_for('create_event')}}">Create Event</a></li>
    </ul>
    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
        <div class="table-responsive" id="events">
      <table class="table">
        <h3>Upcoming Events</h3>
      <thead>
        <tr>
          <th>
            Date
          </th>
          <th>
            Event
          </th>
          <th>
            
          </th>
        </tr>
      </thead>
      <tbody>
        {% for event in upcoming %}
        <tr>
        <td>
          {{ event.edate }} 
        </td>
        <td>
          <a href="{{ url_for('event', eid=event.eid) }}">{{event.etitle}}</a>
        </td>
        <td>
          <a href="{{ url_for('edit_event', eid=event.eid) }}">(Edit)</a>
        </td>
        <td>
          <a href="{{ url_for('delete_event', eid=event.eid) }}">(Delete)</a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
	  </div>
    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
        <div class="table-responsive" id="events">
      <table class="table">
        <h3>Past Events</h3>
      <thead>
        <tr>
          <th>
            Date
          </th>
          <th>
            Event
          </th>
          <th>
            
          </th>
        </tr>
      </thead>
      <tbody>
        {% for event in past %}
        <tr>
        <td>
          {{ event.edate }} 
        </td>
        <td>
          <a href="{{ url_for('event', eid=event.eid) }}">{{event.etitle}}</a>
        </td>
        <td>
          <a href="{{ url_for('edit_event', eid=event.eid) }}">(Edit)</a>
        </td>
        <td>
          <a href="{{ url_for('delete_event', eid=event.eid) }}">(Delete)</a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
    </div>
	</div>
  <div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
    <div class="table-responsive" id="pending">
      <table class="table">
      <thead>
        <tr>
          <th>
            
          </th>
          <th>
            Name
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
  {% for pending in result %}
       <tr>
        <td>
    {% if pending['customPicture'] == "FALSE" %}
      <img src="{{ pending['email'] | gravatar }}" height="25" width="25">
  {% else %}
    <img src="{{ url_for('static', filename='uploads/'+pending['customPicture']) }}" height="25" width="25">
  {% endif %}
        </td>
        <td>
  <strong><a href="{{ url_for('user_profile', id=pending['id']) }}">{{ pending['studentFirstName'] + " " + pending['studentLastName']}}</a></strong> 
        </td>
        <td>
  [{{ pending['status'] }}] 
        </td>
        <td>
          <a href="{{ url_for('activateMembership', id=pending['id'], memberType='AECC') }}">(Activate AECC)</a>
        </td>
        <td>
          <a href="{{ url_for('activateMembership', id=pending['id'], memberType='ACM') }}">(Activate ACM)</a>
        </td>
      </tr>
  {% endfor %}
      </tbody>
      </table>
        </div>
      </div>
  </div>
</div>
{% endblock %}
