{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard</h1>
  <h1>
  {% if session.customPicture == "FALSE" %}
    <img src="{{ session.email | gravatar }}" height="50" width="50">
  {% else %}
  <img src="{{ url_for('static', filename='uploads/'+session.customPicture) }}" height="50" width="50">
  {% endif %}
  <small> Welcome {{session.username}}</small>
  <small>
    <a class="btn btn-success" href="{{url_for('edit_profile', id=session.id)}}">(Edit Profile)</a>
  </small>
  </h1>
{% endblock %}
