{% extends 'layout.html' %}
<!--Edited by Emmanuel Nieves -->
{% block body %}
  <h1>Edit Profile</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-group">
      {{render_field(form.uploadFile, class_="form-control")}}
    </div>
    {% if priviledge %}
      <div class="form-group">
        {{render_field(form.adminEmail, class_="form-control")}}
      </div>
    {% else %}
      <div class="form-group">
        {{render_field(form.studentFirstName, class_="form-control")}}
      </div>
      <div class="form-group">
        {{render_field(form.studentLastName, class_="form-control")}}
      </div>
      {% if session.admin %}
      <div class="form-group">
        {{render_field(form.email, class_="form-control")}}
      </div>
      {% endif %}
    {% endif %}
    {% if id == session.id %}
    <div class="form-group">
      {{render_field(form.password, class_="form-control")}}
    </div>
    {% endif %}
    <div class="form-group">
      {{render_field(form.new_password, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
    {% if not priviledge %}
      <div class="form-group">
        <label for="major">Major: </label>
        <select class="form-control" name="majors", id="majors">
          {% for major in majors %}
          {% if major['mid'] == userMajor %}
          <option value = "{{major['mname']}}" selected="selected">{{major['mname']}}</option>
          {% else %}
          <option value = "{{major['mname']}}">{{major['mname']}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <strong>Courses Taken</strong>
      <div>
        <table>
      {% for course in courses %}
          <tr>
              {% if course['cid'] in userCourseIDs %}
              <td><input type=checkbox name=course_ids value="{{ course['cid'] }}" checked></td>
              {% else %}
              <td><input type=checkbox name=course_ids value="{{ course['cid'] }}" unchecked></td>
              {% endif %}
              <td>{{ course['ccname'] }} ({{ course['ccode'] }})</td>
          </tr>
      {% endfor %}
        </table>
      </br>
    </div>
    <div>
      {{render_field(form.biography, class_="form-control", id="editor1")}}
    </br>
    </div>
    <div class="form-group">
      {{render_field(form.Facebook, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.GitHub, class_="form-control")}}
    </div>
        <div class="form-group">
      {{render_field(form.LinkedIn, class_="form-control")}}
    </div>
    {% endif %}
    <div>
    <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
  </br>

{% endblock %}

    {% block footer %}
    <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <footer>
                <div class="row" style="text-align:center">
                    <div class="col-lg-12">
                        <p>Copyright © AECC-UPRRP 2018
                            <br>Using The Modern Business template by Start Bootstrap</p>
                    </div>
                </div>
    </footer>
    <script src="{{url_for('static', filename='js/ckeditor/ckeditor.js')}}"></script>   
     <script type="text/javascript">
      CKEDITOR.replace('editor1')
     </script>
    {% endblock %}