<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AECC Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" 
      type="image/ico" 
      href="{{url_for('static', filename='aecc-logo.ico')}}">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>

    

    {% block footer %}
    <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/ckeditor/ckeditor.js')}}"></script>   
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
    {% endblock %}
  </body>
</html>
