<p>Se realizo un pago para la membresia de {{ user['studentFirstName']}} {{ user['studentLastName']}} para la AECC </p>	
<p>Recibo de la Transaccion en linea:</p>
<p>------------------------------------------</p>
<table>
  <tr>
    <td>Tipo de membresia </td>
    <td>{{ membertype }}</td>
  </tr>
  <tr>
    <td>Costo: </</td>
    <td>${{ transaction.amount }}</td>
  </tr>
  <tr>
    <td>Fecha</td>
    <td>{{ transaction.created_at }}</td>
  </tr>
  <tr>
    <td>Tipo de Tarjeta</td>
    <td>{{ transaction.credit_card_details.card_type }}</td>
  </tr>
  <tr>
    <td>Tarjeta</td>
    <td>**** **** **** {{ transaction.credit_card_details.last_4 }}</td>
  </tr>
  <tr>
    <td>Codigo de recibo</td>
    <td>{{ transaction.id }}</td>
  </tr>
</table>
<p>-------------------------------------------</p>
<img src="https://scontent-mia3-2.xx.fbcdn.net/t1.0-9/227041_211214515567611_1944265_n.jpg?oh=c02a5f1b4dbe360fe82e3a33e6064bcc&oe=5B1088A4" alt="AECC Logo" height="250" width="250"/>
<br>
<p>-La Directiva</p>	