{% extends 'layout.html' %}

<!-- Edited by Anthony Rios -->

<style type="text/css">
  #submsg {
    padding-left: 2em;
  }

  .form-group {
    padding-top: 2em;
    padding-bottom: 2em;
  }
</style>

{% block body %}
  <h1>Register</h1>
  <h5 id="submsg">Welcome to the AECC register page! Please complete the following form to request your membership.</h5>
  {% from "includes/_formhelpers.html" import render_field %}
  <div class="container-fluid">
    <form method="POST">
    {{ form.csrf_token }}
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          {{render_field(form.studentFirstName, class_="form-control")}}
         </div>
         <div class="form-group">
          {{render_field(form.studentLastName, class_="form-control")}}
        </div>
         <div class="form-group">
          {{render_field(form.studentID, class_="form-control")}}
         </div>
         
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          {{render_field(form.email, class_="form-control")}}
         </div>
        <div class="form-group">
          {{render_field(form.password, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.confirm, class_="form-control")}}
            </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
          {{render_field(form.phoneNumber, class_="form-control")}}
        </div>
        <div class="form-group">
          <label for="major">Major: </label>
          <select class="form-control" name="majors", id="majors">
            {% for major in majors %}
            <option value = "{{major['mname']}}">{{major['mname']}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          {{render_field(form.payNow)}}
        </div>
      </div>
    </div>

    
    <div>
    <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
  </div>
 
{% endblock %}
