{% extends 'layout.html' %}

{% block body %}
  <h1>{{user['studentFirstName'] + " " + user['studentLastName']}}</h1>
  	{% if user['customPicture'] == "FALSE" %}
  		<img src="{{ user['email'] | gravatar }}" height="100" width="100">
	{% else %}
		<img src="{{ url_for('static', filename='uploads/'+user['customPicture']) }}" height="100" width="100">
	{% endif %}
	{% if user['id'] == session.id or session.admin %}
		<a class="btn btn-success" href="{{url_for('edit_profile', id=user['id'])}}">(Edit Profile)</a>
	{% endif %}
  <p>Biography</p>
  {% if user['biography'] == None %}
  <p>This user has not written a biography.</p>
  {% else %}
 	{{ user['biography']|safe }}
  {% endif %}
{% endblock %}
